/* First Part */
.part1{
    width: 42%;
    margin-left: 100px;  
    margin-right: 60px;
    font-weight: bold;
}
.part1>[class*="clm"] button{
    margin-top: 20px;
    box-shadow: 0px 0px 20px #e7e7e7;
    width: 170px;
    height: 60px;
    border: none;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    outline: none;
}
.part1>[class*="clm"] input[type=text]{
    width: 93%;
    background-color: rgb(230, 230, 230);
    border: none;
    border-radius: 5px;
    line-height: 45px;
    margin:8px;
    margin-bottom: 0;
    padding-left: 20px;
}

/* First Part Column 1 */
.part1>.clm1 td{
    text-indent: 10px;
}
.part1>.clm1 h2{
    margin-top: 0px;
    margin-bottom: 30px;
}
.part1>.clm1 select{
    width: 268px;
    height: 50px;
    border: none;
    box-shadow: 1px 1px 5px #f3f3f3;
    border-radius: 5px;
    font-size: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
}

/* First Part Column 2 */
.part1>.clm2>div{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.part1>.clm2>h3{
    margin: 0px;
    margin-left: 10px;
}
.part1>.clm2 .bigcontrol{
    background-color:  rgb(255, 217, 0);
}

/* First Part Column 3 */
.part1>.clm3 div{
    display: flex;
    justify-content: space-between;
}
.part1>.clm3 h3{
    margin:0;
}
.part1>.clm3 .floorControl{
    background-color:  rgb(255, 217, 0);

}

/* First Part Column 4 */
.part1>.clm4 div{
    display: flex;
    justify-content: space-between;
}
.part1>.clm4 h3{
    margin:0;
}
.part1>.clm4 .howOften{
    background-color:  rgb(255, 217, 0);
}

/* First Part Column 5 */
.part1>.clm5>h3{
    margin-top: 0;
    margin: 10px;
}
.part1>.clm5 button{
    width: 169px;
    height: 120px;
    margin: 8px;
}
.part1>.clm5 .addClass{
    background-color:  rgb(255, 217, 0);
}

/* First Part Column 6 */
.part1>.clm6>h3{
    margin-top: 0;
    margin: 10px;
}
.part1>.clm6 button{
    width: 169px;
    margin: 8px;
}
.part1>.clm6 .animals{
    background-color:  rgb(255, 217, 0);
}

/* First Part Column 7 */
.part1>.clm7{
    margin-bottom: 20px;
}
.part1>.clm7 h3{
    text-indent: 10px;
}
.part1>.clm7 hr{
    width: 96%;
    margin-top: 20px;
    margin-bottom: 10px;
}
.part1>.clm7 button{
    width: 265px;
    margin: 8px;
}
.part1>.clm7 input[type="text"]{
    margin-left: 8px;
}
.part1>.clm7 textarea{
    height: 100px;
    width: 93%;
    background-color: rgb(230, 230, 230);
    border: none;
    border-radius: 5px;
    padding-left: 20px;
    padding-top: 20px;
    margin-left: 8px;
}
.part1>.clm7 .key{
    background-color:  rgb(255, 217, 0);
}

/* First Part Column 8 */
.part1>.clm8{
    border: none;
    padding: 0;
    padding-left: 80px;
    text-align: end;
    margin: 0;
}
.part1>.clm8 button{
    width: 180px;
    height: 50px;
    background-color: rgb(255, 217, 0);
}


