section{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin-top: 40px;
}
[class*="clm"]{
    width: 100%;
    border: 1px solid #f3f3f3;
    border-radius: 5px;
    margin-bottom: 40px;
    padding: 25px 40px 25px 40px;
}
hr{
    height: 1px;
    background-color:#e7e7e7;
    border: none;
}

/* Second Part */
.part2{
    width: 24%;
    margin-right: 190px;
    margin-left: 15px;
}
.part2>[class*="clm"]{
    box-shadow: 0px 0px 20px #e7e7e7;
}

/* Second Part Column 1 */
.part2>.clm1>table{
    width: 100%;
    min-height: 200px;
}
.part2>.clm1>table td{
    padding: 7px 0px 7px 0px ;
}
.part2>.clm1>table tr:last-child td{
    padding-bottom: 0;
} 
.part2>.clm1>table tr>td:nth-child(2){
    text-align: right;
}
.part2>.clm1>table tr>.howBigControl{
    text-align: right;
}
.part2>.clm1>table h2{
    margin: 0;
    margin-bottom: 5px;
}
.part2>.clm1>table hr{
    margin-top: 7px;
    margin-bottom: 7px;
}
.part2>.clm1>table tr:last-child input[type="button"]{
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 5px;
    background-color: rgb(255, 217, 0);
}

/* Second Part Column 2 (Accordion)*/
.part2>.clm2>div {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
.part2>.clm2>button {
    background-color: rgb(255, 255, 255);
    color: #444;
    cursor: pointer;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}
.part2>.clm2>.active, .part2>.clm2>button:hover {
    background-color: rgb(240, 240, 240);
    }
.part2>.clm2>h2{
    margin-top: 10px;
}
.part2>.clm2>button>i{
    margin-left: 77px;
    font-size: 26px;
    transition: 0.1s;
}
.part2>.clm2>button>.rotate {
    transform: rotate(-180deg);
    transition: 0.1s;
}
.part2>.clm2>button>p{
    width: 70%;
    display: inline-block;
}

